<?xml version="1.0"?>
<config>
	  <tabs>
		<gremlintech translate="label" module="onsale">
            <label>GremlinTech</label>
            <sort_order>100</sort_order>
        </gremlintech>
	  </tabs>
	  <sections>
		<onsale  translate="label" module="onsale">                    
		<label>On Sale Products</label>
		<tab>gremlintech</tab>
		<frontend_type>text</frontend_type>
		<sort_order>103</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <default translate="label"> 
					  <label>Default</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </enabled>
					   </fields>
					   </default>
					</groups>
		</onsale>
	  </sections>
</config>
